head {
 color:rgba(127,255,212，0.9);
 text-align:center;
}
body {
 background-size:cover;
 width: 960px;
 margin-left: auto;
 margin-right: auto;
 border-width: 1px;
 border-style: solid;
 border-color: gray;
 border-radius: 5px;
 padding-left: 25px;
 padding-right: 25px;
}
#center {
  display: table;  width: 1200px;}
div.idol {
 border-width: 1px;
 border-style: solid;
 border-color: gray;
 border-radius: 5px;
 background-color：rgba(230,230,250，0.2)
}

div.idol-end {
 clear: both;
}
h1 {
 color:rgb(127,255,212);
 text-align:center;
}
p1,p2,p3 {
 color:rgb(255,105,180);
} 
h2 {
 color:rgb(221,160,221);
}
div.xz {
 border-width: 1px;
 border-style: solid;
 border-color: gray;
 border-radius: 5px;
}
div.food {
 border-width: 1px;
 border-style: solid;
 border-color: gray;
 border-radius: 5px;
}
div.recreation {
 border-width: 1px;
 border-style: solid;
 border-color: gray;
 border-radius: 5px;
}
